<!-- src/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container content">
    <h1 class="title">test26</h1>
    <div class="header"></div>
    <button class="button is-danger">essai</button>
    <img src="<%= require('./assets/img/portrait.jpg')%>" alt="moi">
</div>

</body>
</html>